In [83]:
salario = input('Digite os salários: ')


salario = salario.split()
salario = list(map(int,salario))
print('Esta é a lista de salários em ordem crescente:')
print('/n')
print('*'*5, sorted(salario), '*'*5)
print("O menor salário é {}, e o maior salário é {}.".format(min(salario),max(salario)))

Digite os salários: 1000 2000 3000 5000 800 900
Esta é a lista de salários em ordem crescente:
/n
***** [800, 900, 1000, 2000, 3000, 5000] *****
O menor salário é 800, e o maior salário é 5000.

In [84]:
salario = input('Digite os salários: ')


salario = salario.split()
salario = list(map(int,salario))
print('Esta é a lista de salários em ordem crescente:')
print('/n')
print('*'*5, sorted(salario), '*'*5)
print("O menor salário é {}, e o maior salário é {}.".format(min(salario),max(salario)))

Digite os salários: 800 2000 600 1500
Esta é a lista de salários em ordem crescente:
/n
***** [600, 800, 1500, 2000] *****
O menor salário é 600, e o maior salário é 2000.